extends layouts/layout

block head

block content
  .text-wrapper
    h2 WHY BUY AN ELECTRIC SCOOTER?
    p Because it is the future! It is silent, requires next to zero service and economical. Plus of course it is kind to the environment.
    h2 IS IT LEGAL
    p Our scooters are 100% road legal in the UK and EEC. You DO NOT need a driving license to ride one, and they can be ridden anywhere where a scooter can be ridden. This is because it is conforms to EC EN15194. This means the power can reach up to a maximum continuous rate of 250 watts and the motor won't assist you if you're travelling faster than 25kph.
    h2 WHERE CAN I RIDE IT?
    p You’re able to ride it on cycle paths, roads and any other places that regular scooter are allowed.You should not however ride it on the pavement.
    h2 DO I NEED A LICENSE TO RIDE IT?
    p No, you don’t need a licence for an electric scooter. Anyone over the age of 14 can ride one.
    p You don’t need a licence nor does it need to be registered, taxed or insured like you would a motorcycle or electric moped. These rules apply to England, Scotland and Wales.
    h2 HOW DO I CHARGE IT?
    p In all our models the batteries are detachable which means they are charged at all times which means that you can simply remove it and charge it inside your home. All you need to have in your room is a standard plug.
    h2 CHARGING TIME/COST
    p The battery will take between 3-4 hours to fully charge. The cost per charge (depending on your tariff will be around £0.35p). So your cost per riding mile will be around £0.01p or less.
    h2 HOW LONG DOES A BATTERY LAST FOR?
    p Typically a battery lasts for up to 3 years. However we do sell replacement batteries should your battery expire before then.
    h2 WARRANTY
    p The scooter has a 2 year warranty and the battery has a 1 year warranty.
block scripts
