extends layouts/layout

block head

block content
  .text-wrapper
    h2 HOW DO I CHARGE IT?
    p In all our models the batteries are detachable which means they are charged at all times which means that you can simply remove it and charge it inside your home. All you need to have in your room is a standard plug.
    h2 CHARGING TIME/COST
    p The battery will take between 3-4 hours to fully charge. The cost per charge (depending on your tariff will be around £0.35p). So your cost per riding mile will be around £0.01p or less.
    h2 HOW LONG DOES A BATTERY LAST FOR?
    p Typically a battery lasts for up to 3 years. However we do sell replacement batteries should your battery expire before then.
    h2 WARRANTY
    p The scooter has a 2 year warranty and the battery has a 1 year warranty.
block scripts
