extends layouts/layout

block head

block content
  .text-wrapper
    h2 Below you will find the specifications for our Voji scooter:
    ul
      li
        p Engine 
          span RKS 250w
      li
        p Battery 
          span LG Li-ion 36V 7.8Ah
      li
        p Incline Capability 
          span 12%
      li
        p Traction System 
          span Front Wheel Drive
      li
        p Top Speed 
          span 25km/h
      li
        p Chassis 
          span Aluminium
      li
        p Charging Voltage 
          span 42V 1.5A
      li
        p Front/Rear Break 
          span Electronic/Disc
      li
        p Tire 
          span 8.5"
      li
        p Water Resistant 
          span IPX4
      li
        p Front 
          span Fork
      li
        p Net Weight 
          span 11.8kg
      li
        p Maximum Weight 
          span 100Kg

block scripts
