extends layouts/layout

block head

block content
  .text-wrapper
    h2 Thank you for your Applicaion
    p We are happy to confirm that your application has been successful.
    p Thank you.

block scripts
