extends layouts/layout

block head

block content
  .text-wrapper
    h2 Thank you for your Applicaion
    p We are currently assessing your credit. Please bear with us and we will contact you very shortly (usually within 48hrs) with a decision.
    p Thank you.

block scripts
