footer.footer
  ul.social
    li
      a(href='https://www.facebook.com/MQI-104052601341330/?ref=py_c').facebook
  ul.address
    li 
      p Voji Ltd
    li 
      p 1st Floor
    li 
      p Gallery Court
    li 
      p 28 Arcadia Avenue
    li 
      p London N3 2FG
  ul.links
    li
      a(href='/shipping-policy.pdf') Shipping Policy
    li
      a(href='/REFUNDS_RETURNS_POLICY.pdf') Return and Refund Policy
    li
      a(href='/privacy_cookie_policy.pdf') Privacy & Cookies
    li
      a(href='/THE_LAW_SCOOTERS.pdf') E-Scooter Law
    li
      a(href='/contact.html') Contact Us
    li
      a(href='/terms_conditions.pdf')  Terms and Conditions
    
  ul.payment-providers
    li
  ul.fly-information    
    li
      span Company number 12602997
      span VAT Number 350 5438 14
      span Tel: 0800 0116 0175
      span Copyright © 2020 Voji Ltd. All rights reserved.
