footer.footer
  ul.social
    li
      a(href='https://www.facebook.com/MQI-104052601341330/?ref=py_c').facebook
  p
    a(href='/shipping-policy.pdf') Shipping Policy
  p
    a(href='/REFUNDS_RETURNS_POLICY.pdf') Return and Refund Policy
  p
    a(href='/privacy_cookie_policy.pdf') Privacy & Cookies
  p
    a(href='/contact.html') Contact Us
  p
    a(href='/terms_conditions.pdf')  Terms and Conditions
  p &nbsp;
  p Voji Ltd
  p 1st Floor
  p Gallery Court
  p 28 Arcadia Avenue
  p London N3 2FG
  
