ul.nav
  li
    a( href='/checkout.html' )
      p Buy Now
  li
    a( href='/faq.html' )
      p FAQs
  li
    a( href='/spec.html' )
      p Specs
  li
    a( href='/contact.html' )
      p Contact
