doctype html
html
  head
    title= 'Voji'
    link( async, rel='stylesheet', href='/stylesheets/style.css?version=12')
    script( src="https://code.jquery.com/jquery-3.5.1.min.js", integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=", crossorigin="anonymous" )
    link( rel="preconnect", href="https://www.google-analytics.com" )
    link( rel="preconnect", href="http://netdna.bootstrapcdn.com" )
    meta( http-equiv="Content-Type", content="text/html; charset=utf-8" )
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
    // Make the app title different than the page title.
    meta(name='apple-mobile-web-app-title', content="scooters")
    // Configure the status bar.
    meta(name='apple-mobile-web-app-status-bar-style', content='white-transparent')
    // Set the viewport.
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    // Enable automatic phone number detection.
    meta(name='format-detection', content='telephone=yes')
    // Facebook Pixel Code
    script.
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '356115475013155');
      fbq('track', 'PageView');
    noscript
      img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=356115475013155&ev=PageView&noscript=1")
    // End Facebook Pixel Code
    block head
  body
    != flash
    block content
    include ../includes/header
    include ../includes/footer
    //-include ../includes/gdpr_consent
    script( async, src="https://www.googletagmanager.com/gtag/js?id=UA-151318481-1" )
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-151318481-1');
    block scripts
