doctype html
html
  head
    title= title + ' | scooters'
    script( async, type='text/javascript', src=  '/js/events.js')
    script( async, type='text/javascript', src=  '/js/share.js')
    link( async, rel='stylesheet', href=  '/stylesheets/style.css?verion=12')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
    // Make the app title different than the page title.
    meta(name='apple-mobile-web-app-title', content="scooters")
    // Configure the status bar.
    meta(name='apple-mobile-web-app-status-bar-style', content='white-transparent')
    // Set the viewport.
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    // Enable automatic phone number detection.
    meta(name='format-detection', content='telephone=yes')
    block head
  body
    != flash
    block content
    block scripts
